<form nz-form [formGroup]="modal" (ngSubmit)="_submitForm(event, modal.value)" [nzLayout]="horizontal">
    <nz-form-item >
        <nz-form-control 
        nzHasFeedback 
        nzErrorTip="Укажите цену!">
            <nz-input-number
            [(ngModel)]="price"
            [nzSize]="'large'"
            formControlName="price"
            [nzPlaceHolder]="100"
            [nzMin]="10"
            [nzMax]="10000"
            [nzStep]="10"
            [nzFormatter]="formatterDollar"
            [nzParser]="parserDollar"
            [nzId]="price"
            ></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item >
        <nz-form-control
        nzHasFeedback 
        [nzErrorTip]="descriptionErrorTpl">
                <textarea 
                formControlName="description"
                placeholder="Ваш комментарий"
                [nzAutosize]="{ minRows: 4, maxRows: 6 }" 
                nz-input></textarea>
            <ng-template #descriptionErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                    Добавьте комментарий!
                </ng-container>
                <ng-container *ngIf="control.hasError('notOnlySpace')">
                    Комментарий не должен быть пустым!
                </ng-container>
            </ng-template>
        </nz-form-control>        
    </nz-form-item>
</form>
<nz-upload nzAction="https://localhost:44332/api/file/uploadFile" nzName="uploadFile">
    <button nz-button><i nz-icon nzType="upload"></i><span>Click to Upload</span></button>
  </nz-upload>